<div class="products-container jumbotron">
    <h3 class="products-header">Inserir Produto</h3>
    <div class="search-bar-container">
        <input type="text" class="search-bar" placeholder="Busca" ng-model="busca">
        <button ng-click="goTo('/produtos/novo')" class="btn btn-primary search-bar-btn">Novo</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Código</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="produto in listaProdutos | filter: busca">
                <td>{{produto.codigo}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.preco | number: 2}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="goTo('/produto/' + produto.codigo)">Editar</button>
                    <button class="btn btn-danger" ng-click="excluirProduto($index)">Excluir</button>
                </td>  
            </tr>
        </tbody>
    </table>
</div>