<div>
    <input type="text" placeholder="Busca" ng-model="busca">
    <a href="/#!/produtos/novo"><button>Novo</button></a>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="produto in listaProdutos | filter: busca">
                <td>{{produto.codigo}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.preco}}</td>
                <td>
                    <button>Editar</button>
                    <button ng-click="excluirProduto($index)">Excluir</button>
                </td>  
            </tr>
        </tbody>
    </table>
</div>